body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #4a9196;
  color: rgb(232, 232, 232);
  font-family: "Roboto";
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 350px !important;
  border-radius: 10px;
  background: linear-gradient(145deg, #438387, #4f9ba1);
  box-shadow: 31px 10px 30px #3e7a7e, -20px -1px 40px #56a8ae;
}

@media (min-width: 530px) {
  .container {
    width: 600px !important;
  }
}

input[type="text"] {
  text-align: left;
  font-family: "roboto";
  color: rgb(232, 232, 232);
  border: none;
  background: transparent;
  font-size: 18px;
  font-weight: 300;
  border-bottom: 0px solid #b6b6b645;
  transition: border-bottom 0.1s ease;
}

input[type="text"]:focus {
  outline: none;
  border-bottom: 1px solid #d6d6d6d5;
}
.input-group {
  margin: 0 auto;
  max-width: 300px;
  min-height: 75px;
  padding-left: 25px;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: right;
}

@media (min-width: 530px) {
  .input-group {
    padding-left: 225px;
    gap: 240px !important;
  }
}

.submit-button {
  font-size: 17px;
  font-weight: 700;
  margin-left: 10px;
  padding: 0.5em 1em;
  border: transparent;
  box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.24);
  background: #616161b3;
  border-radius: 50px;
  color: #4a9196;
  transition: color 0.2s;
  font-family: "Roboto";
}

.submit-button:hover {
  transition: 0.3s;
  background: linear-gradient(90deg, #4a9196 25%, #a997bb 100%);
  box-shadow: 0 5px 16px 0 rgba(164, 164, 164, 0.12);

  cursor: pointer;
  color: rgb(218, 218, 218);
}

.submit-button:active {
  transform: translate(0em, 0.2em);
}

.submit-button span {
  font-weight: 800;
  letter-spacing: 2px;
  background: linear-gradient(90deg, #4a9196 25%, #a997bb 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.2s;
}

.submit-button:hover span {
  background: #2e2e2e;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.2s;
}

::placeholder {
  color: rgba(184, 184, 184, 0.564);
  font-size: 1rem;
  margin-bottom: 10px;
}

.item-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.item-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.item {
  height: 75px;
  width: 100%;
  text-align: left;
  border-bottom: 1px solid;
  border-color: #5a5a5a7a;
  color: #dadada;
  transition: max-height ease 0.3s;
}

.item-text {
  font-weight: 300;
  font-size: 1rem;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.item-text:hover {
  text-shadow: 10px 10px 20px#ffffffb4;
}

@media (min-width: 530px) {
  .item-text {
    font-size: 1.25rem !important;
  }
}
.hamburger {
  cursor: pointer;
  padding-left: 30px;
  gap: 30px;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  padding-top: 2px;
  height: 1.5em;
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: text-shadow ease-in-out 0.2s;
}

.hamburger:hover {
  text-shadow: 10px 10px 20px#ffffffb4;
}

.line {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

.line {
  border-color: gray;
  opacity: 50%;
  margin-top: 50px;
}

.footer-icons {
  color: rgb(232, 232, 232);
  padding: 2px;
}

.footer-icons:hover {
  opacity: 1;
  transform: scale(1.1) translateY(-5%);
}

@media (min-width: 900px) {
  .footer-icons {
    padding: 15px;
  }
}
